<div class="row">
  <div class="col-md-6 col-lg-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <h2 class="form-signin-heading">Edit <%= resource_name.to_s.humanize %></h2>
    
      <div class="field">
        <%= f.label :email, class: "sr-only" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control", placeholder: "Email address" %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="field">
        <%= f.label :password, class: "sr-only" %>
        <%= f.password_field :password, autocomplete: "new-password", required: true, class: "form-control", placeholder: "Password" %>
        <i class="user-password">leave blank if you don't want to change it</i>
        <% if @minimum_password_length %>
          <em class="user-password">; <%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, class: "sr-only" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "form-control", placeholder: "Confirm new password" %>
        <i class="user-password">retype your new password</i>
      </div>
    
      <div class="field">
        <%= f.label :current_password, class: "sr-only" %>
        <%= f.password_field :current_password, autocomplete: "current-password", required: true, class: "form-control", placeholder: "Current password" %>
        <i class="user-password">we need your current password to confirm your changes</i>
      </div>
    
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>
    <div class="user-links-back">
      <%= link_to "Back", :back %>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <h2 class="hdr-cancel">Cancel my account</h2>
    
    <p class="user-cancel">Unhappy? We would hate to see you go.</p>
    
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm btn-danger" %>
  </div>
</div>
