<div>
    <h1 class="hdr">Contact Us</h1>
    <div class="contact-text">
        <p>If you have questions about our products, yarns, or knitters, please feel free to contact us.</p>
    </div>
</div>

<%= flash[:notice] %>

<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
<div class="row email-form-space">
  <div class="col-md-6 col-lg-6">
    <%= image_tag("contact.jpg", class: "img-fluid img-contact") %>
  </div>
  <div class="col-md-6 col-lg-6 email-form">
    <h4>Contact Us</h4>
    <div class="form-group email-form-group">
      <%= form.label :name, class: "email-form-label" %>
      <%= form.text_field :name, class: "form-control", placeholder:"Your name" %>
    </div>
    <div class="form-group email-form-group">
      <%= form.label :email, class: "email-form-label" %>
      <%= form.text_field :email, class: "form-control", placeholder:"Your email address" %>
    </div>
    <div class="form-group email-form-group">
      <%= form.label :message, class: "email-form-label" %>
      <%= form.text_area :message, class: "form-control", placeholder:"Your message", rows: 5 %>
    </div>
    <%= form.submit "Send", class: "btn btn-success btn-email-send" %>
    <% end %>
  </div>
</div>