<div class="home text-with-image">
    <div>
        <h1 class="hdr hdr-introduction">Welcome to Home Knits!</h1>
        <h5 class="hdr-description">Your source for knits that make your home feel cozy, inviting, and warm.</h5>
        
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @products.size.times do |index| %> 
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= "active" if index == 0%>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
              <% @products.each do |product| %>
                <%= link_to(product) do %>
                  <div class="carousel-item <%= " active" if product == @products.first%>">
                    <div class="carousel-caption d-none d-md-block">
                      <h2 class="product-title"><%= product.name %></h2>
                    </div>
                    <%= image_tag(product.image_url, class: "img-responsive product-img carousel-img") %>
                  </div>
                <% end %>
              <% end %>
          </div>
        
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
</div>
