<div id="product_review">
    <hr>
      
    <div class="author">
        <h5>
            <i class="far fa-comment comment-icon"></i>
            <%= comment.user.first_name %>
            <small>
                <em>
                    <%= "#{time_ago_in_words(comment.created_at)} ago" %>
                </em>
            </small>
            <% if current_user && current_user.admin? %>
              <div class="comment-admin">
                <%= link_to ('<i class="fas fa-trash"></i>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
        </h5>
    </div>
  
    <div class="rated" data-score="<%= comment.rating %>"></div>
  
    <div class="comment-body">
        <p><%= comment.body %></p>
    </div>
</div>