<h6 class="product-title">Customer Reviews</h6>

<div class="product-reviews">
    <% @comments.each do |comment| %>
        <div>
          
          <hr>
          
          <div class="author">
            <h5>
                <i class="far fa-comment comment-icon"></i>
                <%= comment.user.first_name %>
                <small>
                    <em>
                        <%= "#{time_ago_in_words(comment.created_at)} ago" %>
                    </em>
                </small>
            </h5>
          </div>
          
          <!--<div class="rated" data-score="<%= comment.rating %>"></div>-->
          <div class="customer-rating">
            <%= "Rating: #{comment.rating}/5" %>
          </div>
          
          <div class="comment-body">
            <p><%= comment.body %></p>
          </div>
            
        </div>
    <% end %>
</div>