<p id="notice"><%= notice %></p>

<h1 class="hdr hdr-introduction">Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-3 col-md-3 product">
        <h2 class="product-title"><%= product.name %></h2>
        <%= image_tag(product.image_url, class: "img-responsive product-img") %>
        <p class="product-description"><%= product.description %></p>
        <p class="product-text"><%= link_to 'Show', product %> | <%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
  </div>
</div>

<br>
<hr>

<%= link_to 'New Product', new_product_path, class: "product-text" %>
