<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag(@product.image_url) %>
    </a>
  </div>
  <div class="col-xs-6 col-md-9">
    <h1 class="product-title"><%= @product.name %></h1>
    <hr>
    <p class="product-price">Price: $<%= @product.price %></p>
    <p class="product-description"><%= @product.description %></p>
    <p class="product-rating">Averate rating: <%= @product.average_rating %></p>
    <!--<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>-->
  </div>
</div>

<%= render 'new_comment' %>

<%= render 'comments' %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
