<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag(@product.image_url, id: "product_img", width: "350", class: "img-zoom", data_zoom_image: @product.image_url) %>
    </div>
  </div>
  <div class="col-xs-6 col-md-9">
    <h1 class="product-title"><%= @product.name %></h1>
    <hr>
    <p class="product-price">Price: $<%= @product.price %></p>
    <p class="product-description"><%= @product.description %></p>
    <p class="product-price">Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
    <% if signed_in?  %>
      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %>
    <% else%>
      <br>
      <%= link_to('Login to purchase', new_user_session_path(:redirect_to => request.original_url), class: "login-link") %>
    <% end %>
  </div>
</div>

<%= render 'new_comment' %>

<%= render 'comments' %>

<div>
  <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
  <% end %>
  <%= link_to 'Back', products_path %>
</div>
