<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag(@product.image_url) %>
    </a>
  </div>
  <div class="col-xs-6 col-md-9">
    <h1 class="product-title"><%= @product.name %></h1>
    <hr>
    <p class="product-price">Price: $<%= @product.price %></p>
    <p class="product-description"><%= @product.description %></p>    
  </div>
</div>

<hr>
<h6 class="product-title">Reviews</h6>

<div class="comment">
  <div class="author">
    <h5><i class="far fa-comment comment-icon"></i>William Tell</h5>
  </div>
  <div class="rating">
    <p>Highest rating</p>
  </div>
  <div class="comment-body">
    <p>This is a temporary place for a customer review.</p>
    <p>Let's pretend they wrote more than one line.</p>
  </div>
</div>

<div class="comment">
  <div class="author">
    <h5><i class="far fa-comment comment-icon"></i>Johnny Appleseed</h5>
  </div>
  <div class="rating">
    <p>Highest rating</p>
  </div>
  <div class="comment-body">
    <p>This is a temporary place for a customer review.</p>
    <p>Let's pretend they wrote more than one line.</p>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
