<!DOCTYPE html>
<html>
  <head>
    <title>Home Knits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Special+Elite|Life+Savers" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- JavaSript for Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 
    <!-- For mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag("knits/logo.jpg", size: "40x40", alt: "") %> Home Knits
        </a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <% if request.original_url.end_with? root_path %>
                <%= link_to(root_path, class: "nav-link active") do %>
                    Home <span class="sr-only">(current)</span>
                <% end %>
              <% else %>
                <%= link_to "Home", root_path, class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if request.original_url.end_with? products_path %>
                <%= link_to(products_path, class: "nav-link active") do %>
                    Products <span class="sr-only">(current)</span>
                <% end %>
              <% else %>
                <%= link_to "Products", products_path, class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if request.original_url.end_with? simple_pages_about_path %>
                <%= link_to(simple_pages_about_path, class: "nav-link active") do %>
                    About <span class="sr-only">(current)</span>
                <% end %>
              <% else %>
                <%= link_to "About", simple_pages_about_path, class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if request.original_url.end_with? simple_pages_contact_path %>
                <%= link_to(simple_pages_contact_path, class: "nav-link active") do %>
                    Contact <span class="sr-only">(current)</span>
                <% end %>
              <% else %>
                <%= link_to "Contact", simple_pages_contact_path, class: "nav-link" %>
              <% end %>
            </li> 
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to('Login', new_user_session_path, class: "nav-link") %>
              </li>
            <% end %>
          </ul>
          <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
            <div class="relative">
              <%= form.text_field :q, id: 'q', value: params[:q], class: "form-control txt-search", placeholder: "Search..." %>
              <%= button_tag(type: "submit", class: "btn btn-default btn-search") do %>
                  <i class="fas fa-search"></i>
              <% end %>
            </div>
          <% end %>
        </div> 
      </div>
    </nav>

    <section class="page-body">
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
      <%= yield %>
    </section>
    
    <br>
    <footer class="footer">
      <div class="my-footer">
        <span class="text-muted">
          &copy; 2019 Home Knits
        </span>
      </div>
    </footer>

  </body>
</html>
